#root {
  /* max-width: 1280px; */
  margin: 0;
  text-align: center;
  height: 100%;
  width: 100%;
}

/* App.css */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
